<div class="order-form-container" style="width: 100%; display: flex; justify-content: center; margin-top: 20px">
  <div style="background-color: #E4E9F7; width: 1200px; padding-top: 20px; padding-left: 50px; padding-right: 50px;">
    <h1 class="page-title">Modifier un collaborateur</h1>

<%= render 'form', user: @user %>

<%= link_to 'Retour à la liste', users_index_path, class: 'btn btn-secondary' %>

  </div>
</div>