.custom-form {
    width: 400px;
    margin: 50px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-form-group {
    margin-bottom: 15px;
  }
  
  .custom-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
  }
  
  .custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .custom-error-container {
    background-color: #ffe6e6;
    border: 1px solid #ffb3b3;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .custom-error-container h2 {
    color: #cc0000;
  }
  
  .custom-error-container ul {
    padding-left: 20px;
    margin: 0;
  }
  
  .custom-button {
    display: inline-flex;
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  .custom-button:hover {
    background-color: #218838;
  }
  
  .btn-back {
    background-color: #007bff; /* Azul */
    color: white;
    margin: 25px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
  }